doctype html
html
  include blocks/head
  body
    include blocks/header
    main.page-main
      include blocks/banner
      include blocks/form
    include blocks/footer
    include blocks/include-sprite
    |
    |
    include blocks/form-item-template
    script(src="js/backend-min.js")
    script(src="js/util-min.js")
    script(src="js/slider-min.js")
    script(src="js/config-min.js")
    script(src="js/main-min.js")
