doctype html
html
  include blocks/head
  body
    include blocks/header
    main.page-main
      include blocks/banner
      include blocks/form
    include blocks/footer
    include blocks/include-sprite
    script
