background-blue = #2F93FE
background-white = #ffffff

font-blue = background-blue
font-black = #29435D
font-gray = #8391B2
font-white = background-white

font-hover = rgba(131, 145, 178, 0.6)
font-disable = #C8C8C8

mobile-width = 767px
tablet-width = 768px
only-tablet-width = 1199px
desktop-width = 1200px
