.bunner__container
  position relative
  width: 87.5%

  margin-center()
  padding-top: 19px
  padding-bottom: 149px

.banner__title
  padding-bottom: 5px
  padding-right: 13px

  font-size: 18px
  line-height: 120%
  letter-spacing: 0.0025em

.banner__text
  width 280px
  margin: 0
  padding-bottom: 24px

  font-size: 12px
  line-height: 120%
  letter-spacing: 0.0025em
  color: font-gray

.banner__button
  align-self: flex-start

.banner__image
  position: absolute
  right 2.8%
  bottom: 0
