.button
  width: 111px
  min-height: 26px

  font-museo()
  font-weight: 500
  font-size: 10px
  letter-spacing: 0.06em
  text-align: center
  color: font-white

  border: none
  background-color: font-blue
  border-radius: 6px

  cursor pointer

  &--bordered
    width: 102px
    min-height: 24px

    color: font-blue

    background-color: background-white
    border: 1px solid background-blue

  &:hover,
  &:focus
    background-color: #71B6FF

  &:active
    background-color: #0971F5

  &:disabled
    background-color: font-disable

  &--bordered:hover,
  &--bordered:focus
    background-color: #B3D8FF

  &--bordered:active
    color: font-white
    background-color: #71B6FF

  &--bordered:disabled
    background-color: background-white
    color: font-disable
    border-color: font-disable

@media(min-width: tablet-width)
  .button
    width: 160px
    height: 32px

    font-size: 14px
    line-height: 24px

    &--bordered
      width: 67px
      min-height auto
      height: 27px
      padding: 0

      font-size: 10px

@media(min-width: desktop-width)
  .button--bordered
    width: 75px
    height: 24px
