.button
  display: flex
  justify-content: center
  align-items: center

  width: 111px
  min-height: 26px

  font-museo()
  font-weight: 500
  font-size: 10px
  letter-spacing: 0.06em
  text-align: center
  color: font-white

  background-color: font-blue
  border-radius: 6px

.button__text
  margin: 0
