.form
  width: 88.13%
  margin-center()

  font-size: 12px
  line-height: 120%
  letter-spacing: 0.0025em

.form__title
  padding-top: 16px

  font-weight: 800
  font-size: 18px
  line-height: 120%
  letter-spacing: 0.0025em
  text-align: center

.form__list
  list-style()

.form__group
  margin: 0
  padding: 0

  &--config
    padding-top: 10px
    padding-right: 10px
    border: none

.form__config-list
  list-style()

.form__config-item
  display: flex
  justify-content: space-between
  align-items: center

.form__config-label
  background-color: lightgray

.form__config-input
  visually-hidden()

