.logo__text
  visually-hidden()

@media(min-width: tablet-width)
  .logo__image
    width: 82px
    height 18px

@media(min-width: desktop-width)
  .logo__image
    display: block
    width: 112px
    height 24px
    padding-top: 4px
