.page-header__container
  display: flex
  justify-content: space-between
  align-items: center

  min-height: 32px
  margin-center()
  padding-left: 20px
  padding-right: 13px

@media(min-width: tablet-width)
  .page-header__container
    min-height: 52px
    width: auto
    padding-left: 31px
    padding-right: 12px

@media(min-width: desktop-width)
  .page-header__container
    width: 75%
    padding: 0
