.social
  display: flex
  flex-wrap: wrap

  padding-top: 10px

.social__ico
  fill: font-gray

.social__link
  display: block
  padding: 5px

  &:hover .social__ico,
  &:focus .social__ico
    fill: font-hover

  &:active .social__ico
    fill: font-black

.social__text
  visually-hidden()

@media(min-width: tablet-width)
  .social
    justify-content: space-between

    width: 120px
    padding-top: 15px

  .social__item--instagram
    order: 1

  .social__link
    padding: 5px 4px

@media(min-width: desktop-width)
  .social
    width: 148px
    padding-top: 30px

  .social__link
    padding: 0

  .social__ico
    width: 22px
    height: auto
