section.page-main__banner.banner
  .bunner__container
    h1.banner__title.
      Надежные серверы для #[br]проектов любой сложности
    p.banner__text.
      Выделенный сервер — это аренда сервера под задачи вашего проекта с возможностью свободно распоряжаться ресурсами машины и установки любого программного обеспечения.
    a(href="https://selectel.ru/"  target="_blanc").banner__button.button Готовые серверы
    picture
      source(type="image/webp" media="(min-width: 1200px)" srcset="img/server-desktop.webp")
      source(type="image/webp" media="(min-width: 768px)" srcset="img/server-tablet.webp")
      source(type="image/webp" srcset="img/server-mobile.webp")
      |
      |
      source(media="(min-width: 1200px)" srcset="img/server-desktop.png")
      source(media="(min-width: 768px)" srcset="img/server-tablet.png")
      |
      |
      img(src="img/server-mobile.png" width="209" height="175" alt="Готовые серверы").banner__image
