footer.page-footer
  .page-footer__shadow
    .page-footer__container
      ul.page-footer__list
        li.page-footer__item.page-footer__item--logo-block|
          |
          a(href="https://selectel.ru/").page-footer__logo.logo
            svg(width="52" height="11" viewBox="0 0 52 11").page-footer__logo.logo__image
              use(href="#icon-logo")
          include social
        li.page-footer__item.page-footer__item--links-block
          ul.page-footer__links-list
            li.page-footer__link-item|
              |
              a(href="https://selectel.ru/" target="_blanc").page-footer__link Серверы
            li.page-footer__link-item|
              |
              a(href="https://selectel.ru/" target="_blanc").page-footer__link Блог
            li.page-footer__link-item|
              |
              a(href="https://selectel.ru/" target="_blanc").page-footer__link Решения
            li.page-footer__link-item|
              |
              a(href="https://selectel.ru/" target="_blanc").page-footer__link Дата-центры
            li.page-footer__link-item|
              |
              a(href="https://selectel.ru/" target="_blanc").page-footer__link Облако
            li.page-footer__link-item|
              |
              a(href="https://selectel.ru/" target="_blanc").page-footer__link Офисы
            li.page-footer__link-item|
              |
              a(href="https://selectel.ru/" target="_blanc").page-footer__link Оборудование
            li.page-footer__link-item|
              |
              a(href="https://selectel.ru/" target="_blanc").page-footer__link О компании
