.page-main__form.form
  h2.form__title Доступные конфигурации
  ul.form__list
    li.form__item.form__item--config
      fieldset.form__group.form__group--config
        ul.form__config-list
          li.form__config-item.form__config-item--slider
            label(for="vcpu").form__config-label.form__config-label--slider vCPU
            input(type="text" value="6" name="vcpu").form__config-input#vcpu
            include slider
          li.form__config-item.form__config-item--checkbox
            label(for="gpu").form__config-label.form__config-label--checkbox GPU
            input(type="checkbox" name="gpu").form__config-ckeckbox#gpu
            svg(width="18" height="18" viewBox="0 0 18 18").form__icon-checkbox
              use(href="#icon-checkbox-unchecked")
            svg(width="18" height="18" viewBox="0 0 18 18").form__icon-checkbox.form__icon-checkbox--checked
              use(href="#icon-checkbox-checked")
          li.form__config-item.form__config-item--checkbox
            label(for="raid").form__config-label.form__config-label--checkbox RAID
            input(type="checkbox" name="raid").form__config-ckeckbox#raid
            svg(width="18" height="18" viewBox="0 0 18 18").form__icon-checkbox
              use(href="#icon-checkbox-unchecked")
            svg(width="18" height="18" viewBox="0 0 18 18").form__icon-checkbox.form__icon-checkbox--checked
              use(href="#icon-checkbox-checked")
            input(type="checkbox" name="raid").form__config-ckeckbox#raid
          li.form__config-item.form__config-item--checkbox
            label(for="ssd").form__config-label.form__config-label--checkbox SSD
            input(type="checkbox" name="gpu").form__config-ckeckbox#ssd
            svg(width="18" height="18" viewBox="0 0 18 18").form__icon-checkbox
              use(href="#icon-checkbox-unchecked")
            svg(width="18" height="18" viewBox="0 0 18 18").form__icon-checkbox.form__icon-checkbox--checked
              use(href="#icon-checkbox-checked")
