header.page-header
  .page-header__container|
    |
    a(href="https://selectel.ru/" target="_blanc").page-header__logo.logo
      svg(width="52" height="11" viewBox="0 0 52 11").logo__image
        use(href="#icon-logo")
      p.logo__text Логотип Selectel
    nav.page-header__main-nav.main-nav
      ul.main-nav__list
        li.main-nav__item|
          |
          a(href="tel:+78005550675").main-nav__link.main-nav__link--phone
            svg(width="8" height="9" viewBox="0 0 8 8.67").main-nav__image.main-nav__image--phone
              use(href="#icon-phone")
            p.main-nav__text +7 (800) 555-06-75
        li.main-nav__item|
          |
          a(href="mailto: sales@selectel.ru").main-nav__link
            svg(width="9" height="7" viewBox="0 0 9 6.75").main-nav__image.main-nav__link--mail
              use(href="#icon-mail")
            p.main-nav__text Написать в почту
        li.main-nav__item|
          |
          a(href="https://t.me/Selectel" target="_blanc").main-nav__link.main-nav__link--telegram
            svg(width="8" height="8" viewBox="0 0 8 8").main-nav__image
              use(href="#icon-telegram")
            p.main-nav__text Написать в Telegram
