ul.page-footer__social.social
  li.social__item|
    |
    a(href="https://vk.com/selectel" target="_blanc").social__link
      svg(width="17" height="17" viewBox="0 0 22 23").social__ico
        use(href="#icon-vk")
      p.social__text Vkontakte
  li.social__item|
    |
    a(href="https://twitter.com/selectel" target="_blanc").social__link
      svg(width="17" height="17" viewBox="0 0 22 23").social__ico
        use(href="#icon-twitter")
      p.social__text Twitter
  li.social__item.social__item--instagram|
    |
    a(href="https://www.instagram.com/selectel.ru/" target="_blanc").social__link
      svg(width="17" height="17" viewBox="0 0 22 23").social__ico
        use(href="#icon-instagram")
      p.social__text Instagram
  li.social__item|
    |
    a(href="https://www.facebook.com/selectel/" target="_blanc").social__link
      svg(width="17" height="17" viewBox="0 0 22 23").social__ico
        use(href="#icon-fb")
      p.social__text Facebook
